<!DOCTYPE html>
<html>
  <head>
    <title id="title">Momo's Deviluke biography</title>
    <meta name="author" content="maxisun">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
   <main id="main">
    <header>
      <h1>Momo Deviluke</h1>
      <p>The woman who catured million hearts</p>
    </header>
    <div id="img-div">
      <figure>
       <img id="image" src="https://wallpapercave.com/wp/wp2859022.jpg" alt="Momo Deviluke">
       <figcaption id="img-caption">A smiling Momo</figcaption>
      </figure>
    </div>
    <article id="tribute-info">
      <h2 id="subtitle">Here is a list of her powers and abilities:</h2>
      <ul>
        <li>
          <p><strong>Devilukean/Charmain Hybrid Physiology: </strong>Like all Devilukeans, Momo's physical abilities are incredibly strong. Momo also has a hidden side to her known as "Evil Momo" (which she calls it her "battle mode"), in this state she has tremendous bloodlust, making her dangerous in battle. Despite her true power hasn't been shown in any battle yet, Nana seems to be scared of this side of Momo. Yami and Nemesis are also aware of her hidden power. However, her most notable ability is communicating with all plant life. It is revealed that this is a result of being of Charmian descent.</p>
        </li>
        <li>
          <p><strong>Superhuman Strength: </strong>as a Devilukean, Momo possesses incredible strength.</p>  
        </li>
        <li>
          <p><strong>Devilukean Tail: </strong>She also has the ability to fire lightning out from the tip of her tail, when using this ability in tandem with with Nana's, it creates an even more powerful lighting shot. Like her sisters, Momo also becomes weak whenever someone touches her tail (however, given her personality, she apparently enjoys it as it has an erotic feeling to it).</p>
        </li>
        <li>
          <p><strong>Botanical Communication: </strong>An ability unique only to Momo. She shares a connection to plant life since she was born, being able to communicate with them.</p>
        </li>
        <li>
          <p><strong>Expert Xenobotanist and Horticulturalist: </strong>Momo's ability to understand plant life allows her to become an expert botanist. She understands the biology and chemistry of most plant life in the galaxy, and the abilities and effects of their spores, pollens and other characteristics. She maintains her own interplanetary garden, which she is able to access through her d-dial phone to call any of her plants and use their abilities for varying purposes, including combat.</p>
        </li>
        <li>
          <p><strong>Intelligence: </strong>Momo also has a great intellect and an aptitude with her sister Lala's technology, like creating the virtual world video game Trouble Quest, programming a cyber safari for Nana, and generating an invisible barrier. In terms of technology, she is not as smart as Lala, but far more than Nana. She is especially knowledgeable with the biology of most plant-life in the galaxy.</p>
        </li>
        <li>
          <p><strong>Acting: </strong>She's also proven to be a very good actress, managing to fool Rito while in Nana's body that 'Nana' was attracted to him and wanted make sure he liked her despite her breast size. Most notably, she manages to trick everyone into thinking she is a sweet and innocent girl.</p>
        </li>
      </ul>
    </article>
    <footer id="footer">
        <p><i>flower garden of girls</i></p>
        <p>Escrito por Max Espinal</p>
        <p>If you have time, you should read more about this incredible anime being on her <a id="tribute-link" href="https://toloveru.fandom.com/wiki/Momo_Belia_Deviluke" target="_blank">Wiki entry</a>.</p>
     </footer>
   </main>
  </body>
</html>